<configuration>
  <appSettings>
    <add key="FileLog" value="FileLog.txt"/>
    <add key="FileOutput" value="Output.txt"/>
    <add key="AddressStart" value="192"/>
    <add key="AddressMask" value=""/>
    <add key="TimeStart" value="2022-05-15 00:00:00"/>
    <add key="TimeEnd" value="2022-05-15 23:59:59"/>
  </appSettings>
</configuration>

