<configuration>
  <appSettings>
    <add key="FileLog" value="D:\C-Sharp Projects\TestingProjectForWork\TestProject01\TestProject01\data\FileLog.txt"/>
    <add key="FileOutput" value="D:\C-Sharp Projects\TestingProjectForWork\TestProject01\TestProject01\data\Output.txt"/>
    <add key="AddressStart" value=""/>
    <add key="AddressMask" value=""/>
    <add key="TimeStart" value="2022-05-15 00:00:00"/>
    <add key="TimeEnd" value="2022-05-15 23:59:59"/>
  </appSettings>
</configuration>

